@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(6NUT8F6PJgbFWQn47_x7pOskyA.eot)/*tpa=http://fonts.gstatic.com/s/badscript/v6/6NUT8F6PJgbFWQn47_x7pOskyA.eot*/;
}
